@import '../styles/variables.scss';

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.success {
  background-color: $success;
  color: $white;
}

.failed {
  background-color: $alert;
  color: $white;
}